.navbar {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: snow;
    box-shadow: 4px 4px 40px rgba(122, 122, 122, 0.199);
    position: absolute;
    padding: 0 2rem;
    top: 3%;
    left: 22%;
    height: 10%;
    width: 70%;
    border-radius: 100px;
  }
  .navbarItem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.6rem;
  }
  .navbarTitle{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
  }