@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap");

* {
  overflow-x: hidden;
  margin: 0%;
  padding: 0%;
}
.App {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #eecda3, #ef629f);
  padding: 4%;
}
.AppContainer {
  width: 90vw;
  height: 90vh;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(5rem);
  border-radius: 3rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.322);
}
@media (max-width: 768px){
  .AppContainer{
    width: 93vw;
  }
}
@media (max-width: 425px){
  .AppContainer{
    height: 93vh;
  }
}
@media (max-width: 375px){
  .AppContainer{
    height: 95vh;
  }
}
@media (max-width: 320px){
  .AppContainer{
    height: 95vh;
  }
}
